<!DOCTYPE>
<html>
<head>
  <title>{{ wallname }}</title>

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <!-- Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Pangolin' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="static/style_wall.css">
</head>
<body>
  <div id="top-border">
    <h1 id="header">{{ wallname }} Wall</h1>
  </div>

  <div class="container" id="message_cont">

    <div class="post-it">
      <div class="post-header"></div>
      <div class="post-content"></div>
    </div>

  </div>

  <div id="bottom-border"></div>
</body>
</html>
